[submodule "crates/awwasm-parser"]
	path = crates/awwasm-parser
	url = https://github.com/deepkn/awwasm-parser.git
[submodule "spec/testsuite"]
	path = spec/testsuite
	url = https://github.com/WebAssembly/testsuite
